@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;

    background: no-repeat center center fixed;
    background-image: radial-gradient(#fdfdfd, #3e3f55);

    /* to remove unwanted highlighting of text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.mainContainer{
    display: grid;
    width: 100vw; 
    grid-template-columns: 1fr 899px 1fr;
    grid-template-rows: 120px 735px;
    position: relative;
    justify-items: center;
    grid-template-areas:
    "top_mai_left top_main_middle top_main_right"
    "left_buttons middle_content right_buttons";
}

.top{
    grid-area: top_main_middle;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 60px;
    width: 100%;    
    font-family: 'Bungee Inline', cursive;
    font-size:50px;
    margin-top:30px;
    margin-bottom:30px;
    color: #e03131;
    text-shadow: -1px -1px 0 #331d1d, 1px -1px 0 #331d1d, -1px 1px 0 #331d1d, 1px 1px 0 #331d1d;
}


#leftButtons{
    display: flex;
    grid-area: left_buttons;
    font-size: 25px;
    padding-top: 60px;
    overflow-y:auto;
}

.buttonDiv{
display: flex;
padding-top: 20px;
}

#colorSelector label{
    margin-left: 20px;
    margin-top: 22px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px;
}


#colorSelector input{
    appearance: none;
    cursor: pointer;
    padding:0;
    border-radius:0;
    vertical-align: middle;
    outline:0;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 0;
    border-radius: 25px;

}

#colorSelector input:checked{
    box-shadow: 0px 0px;
    transform: translate(8px,8px);
    transition:150ms;
}

#colorSelector input:checked + label{
    transition:150ms;
   }

#black:checked + label{
    background-color: black;
}
#red:checked + label{
    background-color: red;
}
#blue:checked + label{
    background-color: blue;
}
#green:checked + label{
    background-color: green;
}
#yellow:checked + label{
    background-color: yellow;
}
#pink:checked + label{
    background-color: pink;
}
#rainbow:checked + label{
    background: -webkit-linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px;

}
#eraser:checked + label{
    background-color: white;
}


#black{
    background: rgb(29, 29, 29);
    box-shadow: 8px 8px #000000;
}
#red{
    background: red;
    box-shadow: 8px 8px #9c1616;
}
#blue{
    background: blue; 
    box-shadow: 8px 8px #0000b3
    ;
}
#green{
    background: green; 
    box-shadow: 8px 8px #006400;
}
#yellow{
    background: yellow; 
    box-shadow: 8px 8px #afaf00;
}
#pink{
    background: pink; 
    box-shadow: 8px 8px #e2a1ac;
}
#eraser{
    background: white; 
    box-shadow: 5px 5px rgb(187, 187, 187);
}
#rainbow{
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    box-shadow: 8px 8px #2c2c2c;
    background-size: 150% 100%;
    height: 50px;
    animation: gradient 500s linear infinite;
    
}
@keyframes gradient {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -10000px 0;
    }
  }
 

#rightButtons {
    display: grid;
    grid-area: right_buttons;
    align-items: center;
    grid-template-areas: 
    "water_color_grid"
    "shake_grid"
    "grid_grid";
}

#waterColor{
    grid-area: water_color_grid;
    margin-top: 50px;
    appearance: none;
    cursor: pointer;
    padding:0;
    border-radius:0;
    outline:0;
    width: 50px;
    height: 50px;
    margin-left: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, #a7e5e7, #549aeb, #a5c5ee, #84b4e0, #a7e7e7);
    box-shadow: 8px 8px #39728b;
    background-size: 150% 100%;
    animation: gradient 500s linear infinite;

}
#waterColor + label{
    grid-area: water_color_grid;
    text-align: center;
    margin-left: 70px;
    padding-top: 60px;
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px;
}

#waterColor:checked{
    box-shadow: 0px 0px;
    transform: translate(8px,8px);
    transition:150ms;
}


#waterColor:checked + label{
    background: -webkit-linear-gradient(45deg, #a7e5e7, #549aeb, #a5c5ee, #84b4e0, #a7e7e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px;
}


 
#shake {
    grid-area: shake_grid;
    justify-self: center;
    font-family: 'Bungee', cursive;
    margin-bottom: 55px;
    font-size: 30px;
    width: 200px;
    height: 100px;
    background: #e03131;
    text-align: center;
    line-height: 45px;
    border-radius: 36px;
    color: #fff;
    cursor: pointer;
  }
  
  #shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  #gridSize{
    grid-area: grid_grid;
    align-self: normal;
    margin-top: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    background: #e03131;
    outline: none;
    border: 2px solid #000000;    
}

/* for chrome/safari */
#gridSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: #e03131;
    cursor: pointer;
    border: 2px solid #000000;
    }
    
/* for firefox */
#gridSize::-moz-range-thumb {
width: 20px;
height: 40px;
background: #e03131;
cursor: pointer;
border: 2px solid #000000;
}

#gridSize + label, #sliderOutput{
    grid-area: grid_grid;
    align-self: normal;
    margin-top: 80px;
    font-size: 25px;
    -webkit-text-fill-color: #e03131;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px;
    text-align: center;
}


#sliderOutput{
    margin-top: 120px;
}
  

#sketchWrapper{
    display: grid;
    grid-area: middle_content;
    position: relative;
    justify-content: center;
    grid-template-columns:  212px 475px 212px; 
    grid-template-areas: "sketch_left sketch_middle sketch_right";
    
}

#sketchContainer {
    cursor: pointer;
    grid-area: sketch_middle;
    background-color: rgb(245, 245, 245);
    display: grid; 
    width: 475px;
    height: 475px;
    row-gap: 1px;
    position: absolute;
    top: 120px; 
}

#sketcherImage{
    grid-area: sketch_left;
    width:900px;
}

#sketchLeft{
    grid-area: sketch_left;
}

#sketchRight{
    grid-area: sketch_right; 
}

#keyBoardReminder{
    display: none;
    margin-top: 120px;
    margin-left: 30px;
    width: 140px;
    height: 115px;
    background:linear-gradient(to top right, rgb(236, 236, 236) 60%, rgb(78, 78, 77) 75%, rgba(245, 245, 245, 0) 75%, rgba(245, 245, 245, 0) 100%);
    padding-top: 68px;
    padding-left: 20px;
    padding-right: 20px;
    color: #1c0edbe8;
    position: relative;
    border-radius:100%;
    font-size: 18px;
    line-height:18px;
    text-align: center;
    box-shadow: 0 0 0 1px smokewhite;      
    transform: rotate(30deg);
  }


  #keyBoardReminder:before{
    content:"";
    position: absolute;
    top:-90px;
    left:91px;
    width: 180px;
    height: 180px;
    background:linear-gradient(to bottom left, transparent 75%, rgb(204, 204, 204) 75%, rgb(70, 70, 70) 100%);
    border-radius:100%; 
  }

.dial{
    height: 135px;
    position: absolute;
    bottom: 0;
}

#rightDial{
    right: 0;
}

#leftDial{
    left: 0;
}

footer{
    position: fixed;
    display: grid;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(151, 154, 167);
    font-size: 18px;
    grid-template-areas: "footer_left footer_middle footer_right";
    grid-template-columns: 1fr 30px 1fr;
}

footer p{
    grid-area: footer_left;
    text-align: end;
    margin: 0px; 
    padding-top: 5px;
}

.githubLogo{
    grid-area: footer_middle;
    height: 20px;
    justify-self: center;
    padding-top: 4px;
}

footer a{
    grid-area: footer_right;
    text-align: left;
    margin: 0px; 
    padding-top: 5px;
}


/* dynamically added in js when "Shake!" button clicked */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }